@import url(/components.css);

#component-input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: auto;
    padding: 2rem;

        
}

.input-group{
    display: flex;
    flex-direction: column;
    max-width:500px;
    min-width: 300px;


}

input{
    height:4vh;
    border: 1px solid black;
    
    
}

.error{
    color: var(--error-color);
    border-color: var(--error-color);
}

.error input{
    border: 1px solid var(--error-color);

}

.inputvarientheader{
    color: var(--primary-color);
}

.inputvarienttitle{
    color: var(--primary-color);
}




