@import url(components.css);

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    
}

h3{
    color: var(--primary-color);
}

.button{
    height: 35px;
    width: 100px;
    font-weight: bolder;

}


.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 10px;
    justify-content: center;
    padding: 1rem;
    background-color:var(--background-color);
    width: 90%;

}

.button-primary{
    background: rgb(39, 39, 97);
    color: white;
}

.button-primary:hover{
    background-color:white;
    color:rgb(39, 39, 97);
}


.button-secondary:hover{
    background-color: black;
    color: white;
}

.outline-primary{
    color:var(--primary-color);

}
.outline-primary:hover{
    background-color:var(--primary-color);
    color: white;

}

.outline-error{
    color: rgb(231, 30, 30);
}

.outline-error:hover{
    background-color: rgb(231, 30, 30);
    color: white;
}

.outline-warning{
    color:rgb(248, 169, 23);
}

.outline-warning:hover{
    background-color:rgb(248, 169, 23);
    color: white;
}

.outline-success{
    color: green;
}

.outline-success:hover{
    background-color: green;
    color: white;
}

