:root{
    --primary-color:rgb(74, 74, 177) ;
    --secondary-color:rgb(179, 179, 201);
    --off-white-:white;
    --error-color:rgb(221, 70, 70);
    --warning-color:rgb(240, 164, 23);
    --success-color:rgb(58, 151, 58);
    --dnd-color:rgb(235, 226, 226);
    --default-color: rgb(3, 3, 58);
    --shadow-color-:rgb(219, 217, 217);

    
    
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin:0;
    
}



