:root{
    --primary-color:rgb(74, 74, 177) ;
    --secondary-color:rgb(47, 47, 99);
    --off-white-:white;
    --error-color:rgb(206, 78, 78);
    --warning-color:rgb(240, 164, 23);
    --success-color:rgb(58, 151, 58);
    --dnd-color:rgb(199, 193, 193);
    --default-color: rgb(3, 3, 58);
    
    
    
}

* {
    box-sizing: border-box;
    margin:0;
}
