@import url(components.css);

.document-container{
    display: flex;
    
    
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0.1rem;
    padding: 2rem;
    gap: 3rem;
    width: 250px;
    background-color: var(--primary-color);
}

.document-content{
    margin-top: 50px;
    display: flex;
    flex-grow: 1;
}

a{
    text-decoration: none;
    color: var(--off-white-);
    font-weight: bolder;
}