@import url(/style.css);

.typographyvarientcontainer1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.typographyvarient-title{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem 0;
    color: var(--primary-color);
}

.typographyvarient-subcontainer{
    box-shadow: 0 4px 4px 0;
    width: 50vw;
    padding: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.centre-text{
    border:2px solid var(--primary-color);
    height:50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}