@import url(component.css);

.imgvarient1{
    height: auto;
    width: 100%;
    max-width: 600px;
}

.imgvarient2{
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
}

#image{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 2rem;
}
.cardvarient-header{
    color: var(--primary-color);
}
