@import url(/components.css);

.badge{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* border: 0.5px solid black; */
    background-color: var(--dnd-color);
    box-shadow: 0 4px 4px 0;
}

.badgevarientcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border:0.5px solid black; */
    /* height: 200px; */
    padding: 1rem;
    width: 80%;

}

.status{
    border-radius: 50%;
    border:0.5px solid black;
    height: 15px;
    width: 15px;
    position: relative;
    bottom:-25px;
    left:-30px;
}



.status-online{
    background-color: var(--success-color);
}

.status-offline{
    background-color: var( --secondary-color);
}

.status-dnd{
    background-color: var(--error-color);
}
.number{
    position: relative;
    border: 2px solid black;
    border-radius: 50%;
    height:12px;
    width: 15px;
    font-size: smaller;
    text-align: center;
    top:-15px;
    left:-12px;
    background-color: black;
    color: var(--off-white-);

}

.numbadge{
    font-size:1.5rem;
}


#component-badges{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 1rem;


}

.documentationcontentheader{
    color: var(--primary-color);
}

.badgevarienttitle{
    color: var(--primary-color);
    font-size: 1.3rem;

}